.bigcontent{
	background: #fff;
}
.panel_header{
	height: 1rem;
	line-height: 1rem;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
}
.panel_header h2{
	line-height: 1rem;
	font-size: .26rem;
}
.panel_header .btn_share{
	display: block;
	width: 1rem;
	height: 1rem;
	text-align: right;
}
.panel_header .btn_share img{
	width: 35%;
}
.header
{
    width: 100%;
    height: .980392rem;
}
.header-title
{
    width: 6.111111rem;
    height: .83878rem;
    margin: 0 auto;

    background: url('../images/b_title_bg.png')no-repeat center;
    background-size: 100% 100%;
}
.header-title h2
{
    font-size: .326797rem;
    line-height: .7rem;

    width: 100%;
    height: 100%;

    text-align: center;

    color: #b95e0a;
}
.header-title h3
{
    font-size: .217865rem;

    width: 100%;
    margin-top: -.2rem;

    text-align: center;
    letter-spacing: .1rem;

    color: #999797;
}

/*header 结束*/
.b_content{
	position: relative;
	margin-top: 2rem;
    width: 993px;
    margin: 0 auto;
}
.bigcontent{
	padding-left:0.729847rem;
	padding-right:  0.729847rem;
	width: 1078px;
    margin: 0 auto;
}
/*content start*/
.b_content_one_box
{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    width: 809px;
    margin-left: 183px;
}
.b_content_one_box li{
	
}
.b_c1_img{
	position: relative;
}
.b_c1_img img{
	/*width: 1.8257rem;*/
	width: 100%;
}
.b_c1_miaoshu{
	width: 100%;
	height: 0.6rem;
	margin-top: 0.217865rem;
	color: #fff;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.6rem;
}
.b_c0{
	background: #3ebd12;
}
.b_c1{
	background: #33c3ac;
}
.b_c2{
	background: #62b6e6;
}
.b_c3{
	background: #df8bdb;
}
.b_c4{
	background: #f74466;
}
.b_c5{
	background: #f1c833;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*.b_img1{
	position: relative;
	width: 1.198257rem;
	height: 0.77342rem;
}*/

/*content end*/
.b_content_two{
	margin-top: 0.501089rem;
}
.b_test_img{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.b_content_two_title{
	text-align: center;
	margin-bottom: 0.501089rem;

}
.b_content_two_title img{
	width: 4.684096rem;
	height: 0.588235rem;
}
.b_content_two_box li{
	margin-bottom: 0.22rem;
}
.b_test_title{
	width: 0.9rem;
	height: 0.9rem;
	margin-right: 0.5rem;
}
.b_test_title img{
	width: 100%;
}
.b_test_bottom_miaoshu{
	padding-left: 1.4rem;
	font-size: 0.261438rem;
	color:#666;
}
.b_test_r_box{
	height: 0.5305rem;
	border: 1px solid #E6E6E6;
	-webkit-flex: auto;
    flex: auto;
}
.active_line{
	height: 100%;
	line-height: 0.45rem;
}
.active_line div{
	display: inline-block;
	vertical-align: middle;
	margin-right: -3px;
}
.b_test_r_box .b_test_line{
	height: 0.108932rem;
	background: #EA5851;
	max-width: 91.55%;
	width: 0%;
	transition: width ease-in-out 9s;
	-webkit-transition: width ease-in-out 1s;
}
.b_test_skuai{
	width: 0.2rem;
	height: 0.213399rem;
	background: #EA5851;
}
.b_test-num{
	width: 0.697168rem;
	height: 0.305011rem;
	background: #EA5851;
	text-align: center;
	line-height: 0.3rem;
	color:#fff;
	font-size: 0.217865rem;

}
/*3333*/
.b_content_three_title{
	text-align: center;
	margin-bottom: 0.801089rem;
	margin-top: 0.4rem;

}
.b_content_three_title img{
	width: 4.684096rem;
	height: 0.588235rem;
}
.b_content_three_box ul li{
	margin-bottom: 0.2rem;
}
.b_content_three_box ul li span{
	letter-spacing: 0.05rem;
	font-size: 0.33rem;
	margin-left: 0.2rem;
}
.b_pinjia_text{
	font-size: 0.26rem;
	color:#333333;
}
.b_pinjia_title *{
	display: inline-block;
	vertical-align: middle;
}
.b_content_four{
	text-align: center;
	padding-bottom: 1.3rem;
}
.b_content_four p{
	letter-spacing: 0.05rem;
	font-size: 0.22rem;
	color: #666666;
}
.wecodebox{
	width: 1.75rem;
	height: 1.75rem;
	border: 3px solid #EA5851;
	margin:0.5rem auto 0.2rem;
	border-radius: 0.2rem;
	padding: 0.04rem;
}
.wecodebox img{
	width: 100%;
}
.b_test_sum{
	width: 2.15rem;
	height: 2.32rem;
	background: url('../images/b_left_num.png')no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	top: 0.5rem;
	text-align: center;
	line-height: 2.32rem;
	font-size: 0.74rem;
	color:#5c5c5c;
}
.b_c1_img{
	display: flex;
	display: -webkit-flex;
	justify-content:space-between;
    align-items:flex-end;
    width: 122px;

}
.b_c1_img .cp_box{
	width:45px;
	position: relative;
}
.b_c_img_q6 .cp_box{
    width: 39px!important;
}
.b_c1_img .cp_box img{
	width: 100%;
}
.b_cp_tishi{
	width: 1.4rem;
	height: 1.1rem;
	text-align: center;
	background: url('../images/leave.png')no-repeat center;
	background-size: 100% 100%;
	color:#fff;
	font-size: 0.17rem;
	position: absolute;
	top:-1.8rem;
	left:50%;
	margin-left: -0.7rem;
	padding-top: 22%;
	line-height: 15px;
}
.leveltext{
    color:#fff;
    position: absolute;
    bottom:3px;
    font-size: 14px;
    width: 100%;
}

.b_content_five{
	width: 100%;
	height: 80px;	
	text-align: center;
}
.b_content_five a{
	display: inline-block;
	margin: 0 auto;

	width: 80px;
	height: 28px;

	line-height: 28px;
	background: #3ebd12;
	color:#fff;
	text-align: center;

	border-radius: 5px;
}