<div class="register_bigbox">
    <div class="topbar" style="position: relative;">
        <!-- LOGO -->
        <div class="topbar-left height2_smy logo_bg">
            <div class="text-center height_smy">
                <a class="logo"><i class="icon-magnet icon-c-logo"><img width="100%" src="images/home/logo.png"></i>
                    <span><img class="logo_big" src="images/home/logo.png"></span></a>
            </div>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default nav_bg_smy height_smy" role="navigation">
            <div class="container no_padding_smy">
                <div class="">
                    <ul class="nav navbar-nav hidden-xs nav_box_smy">
                       <li><a href="http://www.gogo-talk.com/"  target="_blank" class="waves-effect waves-light">首页</a><span
                                class="border-left"></span><span class="border-right"></span></li>
                        <li><a href="http://www.gogo-talk.com/dist/aboutus.html"  target="_blank"
                               class="waves-effect waves-light">关于我们</a><span class="border-right"></span></li>
                        <li><a href="http://www.gogo-talk.com/dist/lesson.html"  target="_blank"
                               class="waves-effect waves-light">课程体系</a><span class="border-right"></span></li>
                        <li><a href="http://www.gogo-talk.com/dist/price.html"  target="_blank"
                               class="waves-effect waves-light">课程购买</a><span class="border-right"></span></li>
                        <li><a href="http://www.gogo-talk.com/dist/classProcess.html"  target="_blank"
                               class="waves-effect waves-light">上课流程</a><span class="border-right"></span></li>
                        <li><a href="http://www.gogo-talk.com/dist/starLesson.html"  target="_blank"
                               class="waves-effect waves-light">明星学员</a><span class="border-right"></span></li>
                        <li><a href="javascript:" ui-sref="home" class="waves-effect waves-light cur_smy">在线上课</a><span
                                class="border-right"></span></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="register_content">
    	<div class="register_box_center clearfix">
    		<div class="register_img_left_box">
    			<img src="images/banner_people.png?v=0427" alt="">
    		</div>
    		<!-- 输入框 -->
    		<div class="register_font_box">
    				<h3 class="text-center font-write">专业1V1青少在线外教平台</h3>
    				<div class="register_font_write_box bg-fff">
    				<!-- 头部导航 -->
    				<div ui-view="loginview"></div>
    				<!-- login视图-->
    				</div>

    		</div>
    	</div>
    </div>
</div>
<div class="footer_161201_new">
   GoGoTalk青少外教在线英语 www.gogo-talk.com 京ICP备15001014号-4<span class="kongke">All Rights Reserved Copyright 2002-2017 笨鸟盛世(北京)教育科技有限公司 版权所有</span>
</div>