
<div class="loginbox">
<div class="loginPwd_box">
    <ul class="loginPwd_font_top_title_box">
	    <li class="loginPwd_font_top_title loginPwd_font_top_title_item1 login_now" ui-sref="index.mislogin">MIS系统
            <div class="login_now_line"></div></li>
        <li class="loginPwd_font_top_title loginPwd_font_top_title_item1" ui-sref="index.ggtlogin">GoGo系统
        </li>
        
    </ul>
    <form role="form" class="loginPwd_form" name="loginForm">
        <div class="form-group loginPwd_form_div has-feedback"
            ng-class="{'has-success':loginForm.tel.$valid,'has-error':loginForm.tel.$invalid && loginForm.tel.$touched}">
            <input type="text" class="form-control" name="tel" 
                   ng-model="loginMisData.user"    
                   placeholder="请输入您的账号"
                   required 
                    autocomplete="off" ng-focus>

            <i class="name-feed" ng-class="{'name-feed-success':loginForm.tel.$valid , 'name-feed-error':loginForm.tel.$invalid && loginForm.tel.$touched}"></i>
            <div class="error-notice" ng-if="
                    loginForm.tel.$error.required && !loginForm.tel.$focused">
                <span></span>
                账号不能为空
            </div>
            <!-- <div class="error-notice" ng-if="loginForm.tel.$error.pattern && !loginForm.tel.$focused">
                <span></span>
                手机号码格式不正确
            </div> -->
        </div>
        <div class=" form-group loginPwd_form_div has-feedback"
            ng-class="
                    {'has-success':loginForm.password.$valid,
                    'has-error':loginForm.password.$touched && loginForm.password.$invalid}">
            <input type="password" name="password" class="form-control" 
                placeholder="请输入登录密码（6-12位）"
                ng-pattern="/^[a-zA-Z0-9!#@*-_.]{6,12}$/"
                ng-model="loginMisData.password"
                required ng-focus>
           
            <i class="ps-feed" ng-class="{'ps-feed-success':loginForm.password.$valid ,'ps-feed-error':loginForm.password.$invalid && loginForm.password.$touched}"></i>
            <div class="error-notice" ng-if="
                loginForm.password.$error.required && !loginForm.password.$focused">
                <span></span>
                密码不能为空
            </div>
            <div class="error-notice" ng-if="
                loginForm.password.$error.pattern && !loginForm.password.$focused">
                <span></span>
                密码格式错误
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="cnLogin ladda-button btn btn-font-size16 btn-block font-write"
                ng-disabled="loginForm.$invalid" ng-click="loginMIS()" ng-bind="isLoginText" id="loginMis">登录</button>
        </div>
    </form>
    <div class="ps-backbox ps-mis-back">
        <a href="#" ui-sref="index.loginregister">注册GoGoTalk账号</a>
    </div>
</div>

<a href="javascript:;" id="goMisUrl" style="display:none" >

<span>mis</span>
</a>


</div>
<div class="b_mis_message" style="display:none;" id="misAlert">
    <div class="b_mis_header">
        登录失败
        <a href="javascript:;" class="b_mis_close">
            &times;
        </a>
    </div>
    <div class="b_mis_content">
        请检查账号/密码是否输入有误，或<a href="http://gogotalk.121learn.cn" ng-click="closeMisLayer()" target="_blank" class="b_mis_red">点击此处</a>进入MIS系统登录页重新登录
    </div>
</div>	
