<div class="col-lg-12 ">
    <!--日历 start-->
    <div class="orderTeacher qxboxbg"  style="min-height:600px;position: relative;">
   		<h2 class="orderTeacher_title">周报详情</h2>
		

		<div class="weekDetailbox" id="weekDown">
			
			<div class="weekbigbox">
				<div class="week-header">
				<!-- 周 -->
					<div class="week-title">
						第<span ng-bind="weekDetail.OrderId"></span>周
					</div>
					<!-- logo -->
					<div class="week-logo">
						<img src="images/reportImg/logo.png" alt="">
					</div>
				</div>
				<!-- 主内容 -->
				<div class="week-center">
					<div class="week-center-img">
						<img src="images/reportImg/girl.png" alt="" ng-if="weekDetail.Gender == 0">
						<img src="images/reportImg/boy.png" alt="" ng-if="weekDetail.Gender == 1">
					</div>
					<div class="week-user-title">
						学生姓名：<span ng-bind="weekDetail.StudentName"></span><span>({{weekDetail.StartTime}}-{{weekDetail.EndTime}})</span>
					</div>
					<div class="week-stu-content weekFontSize weekColor">
					本周表现：<p ng-bind="StudentDes"></p>
					</div>
				</div>
				<!-- 剩余 -->
				<div class="week-sy weekColor text-center weekFontSize">
					剩余
					<p ng-bind="weekDetail.SurplusCount"></p>
				</div>
			</div>


			<div class="weekbigbox">
				<div class="week-header">
				<!-- 周 -->
					<div class="week-title">
						第<span ng-bind="weekDetail.OrderId"></span>周
					</div>
					<!-- logo -->
					<div class="week-logo">
						<img src="images/reportImg/logo.png" alt="">
					</div>
				</div>
				<!-- 主内容 -->
				<div class="week-center">
					<ul>
						<li class="week-tag-1">
							<span>主动上课</span><img src="images/reportImg/img1.png" alt="">
							<span>X</span>
							<span ng-bind="weekDetail.LessonCount | numSplit"></span>
						</li>
						<li class="week-tag-2">
							<span>课堂互动</span><img src="images/reportImg/img2.png" alt="">
							<span>X</span>
							<span ng-bind="weekDetail.InteractionCount | numSplit">1</span>
						</li>
						<li class="week-tag-3">
							<span>出席准时</span><img src="images/reportImg/img3.png" alt="">
							<span>X</span>
							<span ng-bind="weekDetail.OntimeCount  | numSplit"></span>
						</li>
						<li class="week-tag-4">
							<span>独立完成</span><img src="images/reportImg/img4.png" alt="">
							<span>X</span>
							<span ng-bind="weekDetail.OntimeCount | numSplit"></span>
						</li>
					</ul>
					<div class="week-bottom-box">
						<ul style="border-bottom: none;padding-top: 15px;">
							<li class="week-tag-1">
								<span>本周完成</span><img src="images/reportImg/img1.png" alt="">
								<span>X</span>
								<span ng-bind="weekDetail.WeekCount | numSplit"></span>
							</li>
							<li class="week-tag-2">
								<span>累计完成</span><img src="images/reportImg/img2.png" alt="">
								<span>X</span>
								<span ng-bind="weekDetail.TotalCount">1</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- we code -->
				<div class="text-center">
					<h2 class="weekColor" style="font-size: 20px;font-weight: bold;">学生建议</h2>
					<p class="weekColor" style="font-size: 18px;" ng-bind="weekDetail.Suggest"></p>
					<div class="week-wx-box text-center">
						<img ng-src="{{CodeImage}}" alt="">
					</div>
					<p class="weekColor" style="font-size: 18px;">识别二维码免费试听</p>
				</div>
			</div>
			
		</div>
	</div>
	<div style="position: absolute;bottom: 80px;height: 30px;width: 100%;text-align: center;">
		<a type="button" class="btn btn-success" id="down_button">下载</a>
	</div>
</div>


