<style>
    .allFont{
        color:#0b253d!important;
    }
    .b_report_title{
        height: 50px;
        background: #f5f5f5;
        padding:0 15px;
    }
    .b_report_title>div{
        height: 100%;
        line-height: 50px;
    }
    .b_report_m>p{
        height: 100%;
        line-height: 53px;
    }
    .font-16{
        font-size: 16px!important;
    }
    .font-10{
        font-size: 10px!important;
    }
    .font-9{
        font-size: 9px!important;
    }
    .font-12{
        font-size:12px!important;
    }
    .z_m_t{
        width: 25px;
        background: url('images/reportIcon/monthReportNum_t.png') no-repeat center;
        text-align: center;
        padding-top: 3px;
    }
    .z_m_b{
        width: 25px;
        background: url('images/reportIcon/monthReportNum_b.png') no-repeat center;
        text-align: center;
        padding-top: 3px;
    }
    .t_z_m{
        width: 25px;
        background: url('images/testReportIcon.png') no-repeat center;
        text-align: center;
        padding-top: 3px;
    }
    .my-appraisal-item-top-1122{
        background: #fff;
    }
    .reportName{
        height: 37px;
        line-height: 37px;
        text-align: center;
    }
    .reportTime{
        color: #637483!important;
        text-align: center;
        margin: 20px 0 10px 0;
    }
</style>
<div class="col-lg-12">
    <!--日历 start-->
    <div class="orderTeacher"  style="min-height:600px;">
        <h2 class="orderTeacher_title">我的测评</h2>

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 my-appraisal-item-1122" ng-repeat="weekReport in weekReports">
                <a href="javascript:;" class="allFont" ui-sref="home.weekReportDetail({weekId:weekReport.ReportId})" onClick="_czc.push(['_trackEvent', '我的测评页面月报按钮', '点击', '我的测评页面月报按钮']);">

                    <dl class="my-appraisal-item-top-1122">
                        <div class="b_report_title clearfix">
                            <div class="b_report_time pull-left font-16" ng-bind="weekReport.StartTime | gdate">
                                
                            </div>
                            <div class="b_report_m pull-right clearfix">
                                <p class="pull-left font-12" style="margin-right:3px;" ng-bind="weekReport.StartTime | gmonthref">下半月</p>
                                <p class="pull-left font-9 z_m_t" ng-if="(weekReport.EndTime  | gday) <= 15"></p>
                                <p class="pull-left font-9 z_m_b" ng-if="(weekReport.EndTime | gday) > 15"></p>
                            </div>
                        </div>
                        <dt>
                            <img src="images/monthReport.png">
                            <p class="reportName font-16" ng-bind="weekReport.IsDemo"></p>
                            <p class="reportTime font-10" ng-bind="weekReport.CreateTime.substring(0,weekReport.CreateTime.indexOf(' ')) | xdate"></p>
                        </dt>
                    </dl>
                </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6 my-appraisal-item-1122"  ng-repeat="rePort in monReports">
                <a ng-href="{{rePort.url}}&pid={{rePort.ReportId}}" class="allFont" target="_blank" onClick="_czc.push(['_trackEvent', '我的测评页面周报按钮', '点击', '我的测评页面周报按钮']);">
                    <dl class="my-appraisal-item-top-1122">
                        <div class="b_report_title clearfix">
                            <div class="b_report_time pull-left font-16">
                                Level {{rePort.LvItem}}
                            </div>
                            <div class="b_report_m pull-right clearfix">
                                <p class="pull-left font-12" style="margin-right:3px;">{{rePort.LvValue}}分</p>
                                <p class="pull-left font-9 t_z_m"></p>
                            </div>
                        </div>
                        <dt>
                            <img src="images/testReport.png">
                            <p class="reportName font-16" ng-bind="rePort.IsDemo"></p>
                            <p class="reportTime font-10" ng-bind="rePort.CreateTime.substring(0,rePort.CreateTime.indexOf(' ')) | xdate"></p>
                        </dt>
                    </dl>
                 </a>
            </div>

        </div>
        <div class="ceping-none" ng-if="noData">
            <img src="images/none/ceping-none.png">
            <div class="ceping-none-text">所有新会员免费获赠价值￥298的测评报告。</div>
            <div class="ceping-none-text2">马上会有老师联系您！&nbsp;保持电话畅通！</div>
            <div class="ceping-none-text2">或拨打&nbsp;400-8787-286</div>
        </div>
        <style>
            .ceping-none{
                width: 800px;
                margin: 10% auto;
            }
            .ceping-none img{
                display: block;
                margin: 0 auto;
            }
            .ceping-none div{
                text-align: center;
            }
            .ceping-none-text{
                padding-top: 26px;
                height: 60px;
                font-size: 18px;
                color: #3f3f3f;
            }
            .ceping-none-text2{
                font-size: 16px;
                color: #ff4431;
                height: 26px;
            }
        </style>

    </div>
</div>
