<div class="col-lg-9">
    <!-- Start content -->
    <div class="row main-content-class-top common_mb">
        <div class="col-md-4">
            <div class="main-content-class-top1">
                <div class="main-content-class-top1-rel">
                    <div class="main-content-class-top-left">
                        <dl>
                            <dt class="main-content-class-top-left-top"><span class="red2f05050">0</span></dt>
                            <dd>今日已学课程</dd>
                        </dl>
                    </div>
                    <div class="main-content-class-top-right"><img src="images/appraisal/icon-smy1.png"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-content-class-top1">
                <div class="main-content-class-top1-rel">
                    <div class="main-content-class-top-left">
                        <dl>
                            <dt class="main-content-class-top-left-top"><span class="blu25d9cec">180</span><span class="blac22e2e2e"> / 180</span><span class="main-content-class-top-left-top_po">+2次</span></dt>
                            <dd>总课时已学</dd>
                        </dl>
                    </div>
                    <div class="main-content-class-top-right"><img src="images/appraisal/icon-smy2.png"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-content-class-top1">
                <div class="main-content-class-top1-rel">
                    <div class="main-content-class-top-left">
                        <dl>
                            <dt class="main-content-class-top-left-top"><span class="blu25d9cec">0</span><span class="blac22e2e2e"> / 100%</span></dt>
                            <dd>上节课掌握程度</dd>
                        </dl>
                    </div>
                    <div class="main-content-class-top-right"><img src="images/appraisal/icon-smy3.png"></div>
                </div>
            </div>
        </div>
    </div>
    <!--等待匹配测试老师 start-->
    <div class="row main-content-class-middle common_mb">
        <div class="col-lg-6 main-content-class-middle-item-box">
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num redf05050">0</span><span class="main-content-class-middle-item-te">min</span></p>
                        <p class="main-content-class-middle-item-text-p2">已说英语</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num yelffbc42">0</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">迟到</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num blu5d9cec">0</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">缺席</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main-content-class-middle-btu-box">
            <dl class="main-content-class-middle-btu">
                <dt>等待匹配测试老师</dt>
                <dd><button type="button" class="btn waves-effect waves-light w-lg main-content-class-middle-btu_dd_button disabled_smy" disabled>查看</button></dd>
            </dl>
        </div>
    </div>
    <!--等待匹配测试老师 end-->
    <!--查看报告 start-->
    <div class="row main-content-class-middle common_mb">
        <div class="col-lg-6 main-content-class-middle-item-box">
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num redf05050">0</span><span class="main-content-class-middle-item-te">min</span></p>
                        <p class="main-content-class-middle-item-text-p2">已说英语</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num yelffbc42">0</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">迟到</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num blu5d9cec">0</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">缺席</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main-content-class-middle-btu-box">
            <dl class="main-content-class-middle-btu">
                <dt>测试等级L2</dt>
                <dd><button type="button" class="btn btn-primary waves-effect waves-light w-lg main-content-class-middle-btu_dd_button">查看报告</button></dd>
            </dl>
        </div>
    </div>
    <!--查看报告 end-->
    <!--上次预约教师 start-->
    <div class="row main-content-class-middle common_mb">
        <div class="col-lg-6 main-content-class-middle-item-box">
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num redf05050">1035</span><span class="main-content-class-middle-item-te">min</span></p>
                        <p class="main-content-class-middle-item-text-p2">已说英语</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num yelffbc42">6</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">迟到</p>
                    </div>
                </div>
            </div>
            <div class="main-content-class-middle-item">
                <div class="main-content-class-middle-item-rel">
                    <img src="images/appraisal/contentmidd1.jpg">
                    <div class="main-content-class-middle-item-text">
                        <p class="main-content-class-middle-item-text-p1"><span class="main-content-class-middle-item-num blu5d9cec">5</span><span class="main-content-class-middle-item-te">次</span></p>
                        <p class="main-content-class-middle-item-text-p2">缺席</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 main-content-class-middle-btu-box">
            <dl class="main-content-class-middle-btu">
                <dt class="little_smy">上次预约教师 Tray</dt>
                <dd>
                    <button type="button" class="btn btn-primary waves-effect waves-light main-content-class-middle-btu_dd_button2">快速预约</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light main-content-class-middle-btu_dd_button3">更换</button>
                </dd>
            </dl>
        </div>
    </div>
    <!--上次预约教师 end-->
    <!--日历 start-->
    <div class="common_mb">
        <div class="card-box">
            <div id="calendar"></div>
        </div>
        <!-- BEGIN MODAL -->
        <div class="modal fade none-border" id="event-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add Event</strong></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--日历 end-->
</div>
<script src="assets/pages/jquery.fullcalendar.js"></script>