<div class="col-lg-12">
    <!--日历 start-->
    <div class="orderTeacher">
        <h2 class="orderTeacher_title">我的课表</h2>

        <div class="common_mb">
            <div class="card-box" style="border: none;padding: 0 30px;">
                <div canlendar username="{{userName}}"></div>
            </div>
            <!-- BEGIN MODAL -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><strong>Add Event</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Create
                                event
                            </button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light"
                                    data-dismiss="modal">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--日历 end-->
    </div>

</div>
