<div class="col-lg-12 ">
    <!--日历 start-->
    <div class="orderTeacher qxboxbg"  style=";position: relative;">
   		<h2 class="orderTeacher_title"><button type="button" ui-sref="home.testReportList" class="btn waves-effect"><i class="ion-chevron-left"></i>&nbsp;返回</button></h2>

		<!-- 月报 start -->
		<link rel="stylesheet" href="css/wlh_month.css">
		<div class="monthlyReportbox" id="weekDown">
			<div class="month-top">
				<div class="month-topLeft">
					<span style='font-size: 32px;'><span>{{weekDetail.StartTime | getMonths}}</span>月</span><span ng-if="(weekDetail.StartTime | getDates) >=16 ">（上半月）</span><span ng-if="(weekDetail.StartTime | getDates)<16 ">（上半月）</span>
				</div>
				<div class="month-topLogo">
					<img src="images/report/logo.png" alt="">
				</div>
			</div>
			<div class="month-bottom">
				<div class="month-student">
					<div class="month-studentTop">
						<div class="month-studentImg">
							<img src="images/report/student_girl.png" alt="" ng-if="weekDetail.Gender == 0">
							<img src="images/report/student_boy.png" alt="" ng-if="weekDetail.Gender == 1">
						</div>
						<div class="month-studentInter">
							<h2 class="cardName" ng-bind="weekDetail.StudentName"></h2>
							<h2 ng-if="(weekDetail.StudentName =='')">student</h2>
							<p>{{weekDetail.StartTime | getMonths}}/{{weekDetail.StartTime | getDates}}~{{weekDetail.EndTime |getMonths}}/{{weekDetail.EndTime | getDates}}</p>
							<div class='wancheng'><img src="images/report/suc_class.png" alt=""><span style='margin-right: 7px;'>完成课时</span>X<span ng-bind="weekDetail.SurplusCount | numSplit"></span></div>
						</div>
						<div class="month-sudentXin">
							<div>
								<span>主动上课：</span><div class="lookStar" style="display: inline-block" data-score="{{weekDetail.LessonCount}}"></div>
							</div>
							<div><span>出席准时：</span><div class="lookStar" style="display: inline-block" data-score="{{weekDetail.OntimeCount}}"></div></div>
							<div><span>课堂互动：</span><div class="lookStar" style="display: inline-block" data-score="{{weekDetail.InteractionCount}}"></div></div>
							<div><span>独立完成：</span><div class="lookStar" style="display: inline-block" data-score="{{weekDetail.OnesCount}}"></div></div>
						</div>
					</div>
					<div class="month-studentCon">
						<div class='month-stuConTop'>
							<img src="images/report/zongshu.png" alt=""><span>综述：</span>
						</div>
						<p ng-bind="weekDetail.StudentDes"></p>
					</div>
				</div>
				<div class="month-stuFengcai">
					<div class="stuFengcaibox">学员风采</div>
					<div class='stuFengcaiImg'>
						<img ng-src="{{weekDetail.Presence}}" alt="">
						<div class="jiaodai jiaodai1"></div>
						<div class="jiaodai jiaodai2"></div>
						<div class="jiaodai jiaodai3"></div>
						<div class="jiaodai jiaodai4"></div>
					</div>
					<div class="stuErweibox">
						<div class="stuErweiImg"><img ng-src="{{CodeImage}}" alt=""></div>
						<div class="stuWord">识别二维码免费试听</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 月报 end -->
	</div>
	<div style="position: absolute;bottom: 80px;height: 30px;width: 100%;text-align: center;">
		<a type="button" class="btn btn-success" id="down_button">下载</a>
	</div>
</div>


