<div class="col-lg-9">
    <!-- Start content -->
    <div class="middle_top_smy common_mb">
        <img class="middle_top_bg_smy" src="images/home/bannerbg.jpg">
        <img class="middle_top_img_smy" src="images/home/bannertop.jpg">
        <button type="button" class="btn-danger btn-rounded waves-effect waves-light middle_top_btu_smy">免费测评一下开启学习之旅</button>
    </div>
    <div class="middle_bot_smy common_mb">
        <img class="middle_bot_bg_smy" src="images/home/middlebot.jpg">
        <dl class="middle_bot_dl1_smy">
            <dt>20万亚洲家庭的选择</dt>
            <dd>1.统一的教学团队管理</dd>
            <dd>2.独家的反馈服务平台</dd>
            <dd>3.完整的教师培训体系</dd>
        </dl>
        <dl class="middle_bot_dl2_smy">
            <dt>5000+国际认证全职外教</dt>
            <dd>1.严选全球名师专注青少</dd>
            <dd>2.拥有多年k12教学经验</dd>
            <dd>3.外教全部具备执教证书</dd>
        </dl>
        <dl class="middle_bot_dl3_smy">
            <dt>课程体系细分为11级</dt>
            <dd>1.一对一在线视频直播课</dd>
            <dd>2.独家引进国际正版教材</dd>
            <dd>3.跟进学习进度定期测评</dd>
        </dl>
        <div class="middle_bot_vd_smy">
            <a href="###"><img src="images/home/video.jpg"></a>
        </div>
    </div>
</div>