<link rel="stylesheet" href="">
<div class="col-lg-12">
    <div class="bigcontent">
	<div class="panel_header">
	</div>
	<header id="header" class="header">
		<div class="header-title">
			<h2><span>刘瑞阳</span>的英语水平测评报告</h2>
			<h3>测评时间<span id="testTime" ng-bind="testTime"></span></h3>
		</div>
	</header><!-- /header -->
	<div class="b_content">
		<div class="b_test_sum" id="ComprehensiveScore" ng-bind="ComprehensiveScore">
			
		</div>
		<ul class="b_content_one_box">
			<li>
				<div class="b_c1_img b_img1 b_c_img_q6">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="1=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp1-1.png" alt="">
						<p class="text-center leveltext">L1</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="2=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp1-2.png" alt="">
						<p class="text-center leveltext">L2</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="3=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp1-3.png" alt="">
						<p class="text-center leveltext">L3</p>
					</div>
				</div>
			</li>
			<li>
				<div class="b_c1_img b_c_img_q6" style="width:124px;">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="4=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp2-1.png" alt="">
						<p class="text-center leveltext">L4</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="5=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp2-2.png" alt="">
						<p class="text-center leveltext">L5</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="6=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp2-3.png" alt="">
						<p class="text-center leveltext">L6</p>
					</div>
				</div>
			</li>
			<li>
				<div class="b_c1_img b_c_img_q6" style="width:123px;">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="7=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp3-1.png" alt="">
						<p class="text-center leveltext">L7</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="8=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp3-2.png" alt="">
						<p class="text-center leveltext">L8</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="9=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp3-3.png" alt="">
						<p class="text-center leveltext">L9</p>
					</div>
				</div>
			</li>
			<li>
				<div class="b_c1_img" style="width:142px;">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="10=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp4-1.png" alt="">
						<p class="text-center leveltext">L10</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="11=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp4-2.png" alt="">
						<p class="text-center leveltext">L11</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="12=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp4-3.png" alt="">
						<p class="text-center leveltext">L12</p>
					</div>
				</div>
			</li>
			<li>
				<div class="b_c1_img" style="width:142px;">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="13=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp5-1.png" alt="">
						<p class="text-center leveltext">L13</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="14=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp5-2.png" alt="">
						<p class="text-center leveltext">L14</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="15=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp5-3.png" alt="">
						<p class="text-center leveltext">L15</p>
					</div>
				</div>
			</li>
			<li>
				<div class="b_c1_img" style="width:141px;">
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="16=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp6-1.png" alt="">
						<p class="text-center leveltext">L16</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="17=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp6-2.png" alt="">
						<p class="text-center leveltext">L17</p>
					</div>
					<div class="cp_box">
						<div class="b_cp_tishi" ng-if="18=={{level}}">
							您的级别<br>
							level<span ng-bind="level"></span>
						</div>
						<img src="images/reportIcon/cp6-3.png" alt="">
						<p class="text-center leveltext">L18</p>
					</div>
				</div>
			</li>
		</ul>
		<img src="images/LevelBg.png" alt="">
	</div>
	<div class="b_content_two">
		<div class="b_content_two_title">
			<img src="images/b_tile_two.png" alt="">
		</div>
		<ul class="b_content_two_box">
			<li>
				<div class="b_test_img">
					<div class="b_test_title">
						<img src="images/b_pinjia_1.png" alt="">
					</div>
					<div class="b_test_r_box">
						<div class="active_line">
							<div class="b_test_line" ng-style="{'width':{{tEvalLists.AssessmentScores | percentage}}}"></div>
							<div class="b_test_skuai"></div>
							<div class="b_test-num" >{{tEvalLists.AssessmentScores}}分</div>
						</div>
					</div>
				</div>
				<div class="b_test_bottom_miaoshu" ng-bind="tEvalLists.AssessmentDesc">
					该学员处于听力理解的起始阶段，需要规律性练习。
				</div>
			</li>
			<li>
				<div class="b_test_img">
					<div class="b_test_title">
						<img src="images/b_pinjia_3.png" alt="">
					</div>
					<div class="b_test_r_box">
						<div class="active_line">
							<div class="b_test_line" ng-style="{'width':{{fEvalLists.AssessmentScores | percentage}}}"></div>
							<div class="b_test_skuai"></div>
							<div class="b_test-num" >{{fEvalLists.AssessmentScores}}分</div>
						</div>
					</div>
				</div>
				<div class="b_test_bottom_miaoshu" ng-bind="fEvalLists.AssessmentDesc">
					该学员处于听力理解的起始阶段，需要规律性练习。
				</div>
			</li>
			<li>
				<div class="b_test_img">
					<div class="b_test_title">
						<img src="images/b_pinjia_2.png" alt="">
					</div>
					<div class="b_test_r_box">
						<div class="active_line">
							<div class="b_test_line" ng-style="{'width':{{cEvalLists.AssessmentScores | percentage}}}"></div>
							<div class="b_test_skuai"></div>
							<div class="b_test-num" >{{cEvalLists.AssessmentScores}}分</div>
						</div>
					</div>
				</div>
				<div class="b_test_bottom_miaoshu" ng-bind="cEvalLists.AssessmentDesc">
					该学员处于听力理解的起始阶段，需要规律性练习。
				</div>
			</li>
			<li>
				<div class="b_test_img">
					<div class="b_test_title">
						<img src="images/b_pinjia_4.png" alt="">
					</div>
					<div class="b_test_r_box">
						<div class="active_line">
							<div class="b_test_line" ng-style="{'width':{{yEvalLists.AssessmentScores | percentage}}}"></div>
							<div class="b_test_skuai"></div>
							<div class="b_test-num" >{{yEvalLists.AssessmentScores}}分</div>
						</div>
					</div>
				</div>
				<div class="b_test_bottom_miaoshu" ng-bind="yEvalLists.AssessmentDesc">
					该学员处于听力理解的起始阶段，需要规律性练习。
				</div>
			</li>
			<li>
				<div class="b_test_img">
					<div class="b_test_title">
						<img src="images/b_pinjia_5.png" alt="">
					</div>
					<div class="b_test_r_box">
						<div class="active_line">
							<div class="b_test_line" style="width:{{lEvalLists.AssessmentScores | percentage}}"></div>
							<div class="b_test_skuai"></div>
							<div class="b_test-num" >{{lEvalLists.AssessmentScores}}分</div>
						</div>
					</div>
				</div>
				<div class="b_test_bottom_miaoshu" ng-bind="lEvalLists.AssessmentDesc">
					该学员处于听力理解的起始阶段，需要规律性练习。
				</div>
			</li>
		</ul>
	</div>
	<div class="b_content_three">
		<div class="b_content_three_title">
			<img src="images/b_tile_three.png" alt="">
		</div>
		<div class="b_content_three_box">
			<ul>
				<li class="b_pinjia_title">
					<img src="images/py_youdian.png" alt="">
					<span>优点</span>
				</li>
				<li class="b_pinjia_text" id="GoodPoints" ng-bind="GoodPoints">
				</li>
				<li class="b_pinjia_title">
					<img src="images/py_xutigao.png" alt="">
					<span>需提高</span>
				</li>
				<li class="b_pinjia_text" id="NeedToImprove" ng-bind="NeedToImprove">
				</li>
			</ul>
		</div>
	</div>
	<div class="b_content_four">
		<div class="wecodebox">
			<img src="images/b_weicode.png" alt="">
		</div>
		<p>扫码关注 官方微信</p>
		<p>客服电话：400-8787-276</p>
	</div>
</div>
</div>
