<div class="nicescroll col-lg-3">
    <!--首页 未登录 免费测评 start-->
    <div class="appraisal_smy common_mb">
        <div class="appraisal_top_smy">VIP免费评测<span></span></div>
        <div class="appraisal_bot_smy">
            <span>特权</span><a href="">免费评测</a><a href="">免费体验</a>|<a href="">名师顾问</a>
        </div>
    </div>
    <!--首页 未登录 免费测评 end-->
    <!--在线学习 已登录 等待测评 start-->
    <div class="appraisal_wait_smy common_mb">
        <div class="appraisal_wait_top_smy">
            <div class="appraisal_wait_top_name_smy">
                <span class="appraisal_wait_top_name_vip_smy">VIP</span>
                <span class="appraisal_wait_top_name_user_smy">逗逗, 你好</span>
            </div>
            <dl>
                <dt>测评课时间：</dt>
                <dd>2016/09/10  星期三 16:00</dd>
            </dl>
            <span class="appraisal_crown_smy"></span>
        </div>
        <div class="appraisal_wait_bot_smy">
            <button type="button" class="btn btn-warning btn-custom btn-rounded waves-effect waves-light appraisal_wait_bot_changeTime_smy" ng-click="chageTime()">更改时间</button>
        </div>
    </div>
    <!--在线学习 已登录 等待测评 end-->
    <!--在线学习 已登录 已测评 start-->
    <div class="appraisal_allri_smy common_mb">
        <div class="appraisal_allri_top_smy">
            <div class="appraisal_allri_top_name_smy">
                <span class="appraisal_allri_top_name_vip_smy">VIP</span>
                <span class="appraisal_allri_top_name_user_smy">逗逗, 你好</span>
            </div>
            <div class="appraisal_allri2_class_smy">我的课程：<button type="button" class="btn btn-warning btn-rounded waves-effect waves-light">去购买</button></div>
            <div class="appraisal_allri_top_level_smy">
                <p class="yelfce36d">L<span>1</span></p>
                <span class="appraisal_allri_top_level_line_smy"></span>
                <p class="green81c13f">L<span>2</span></p>
            </div>
            <span class="appraisal_allri_crown_smy"></span>
        </div>
        <div class="appraisal_allri2_bot_smy">
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="yel1ffb022">35</dt>
                <dd>今日已学min</dd>
            </dl>
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="blu14cace6">40</dt>
                <dd>连续学习(天)</dd>
            </dl>
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="red1dd5c5c">20</dt>
                <dd>最近评分(分)</dd>
            </dl>
        </div>
    </div>
    <!--在线学习 已登录 已测评 end-->
    <!--在线学习 已登录 已测评 购买后 start-->
    <div class="appraisal_allri2_smy common_mb">
        <div class="appraisal_allri2_top_smy">
            <div class="appraisal_allri2_top_name_smy">
                <span class="appraisal_allri_top_name_vip_smy">VIP</span>
                <span class="appraisal_allri_top_name_user_smy">逗逗, 你好</span>
            </div>
            <div class="appraisal_allri2_class_smy">有效期：剩余20天<button type="button" class="btn btn-warning btn-rounded waves-effect waves-light">续费</button></div>
            <div class="appraisal_allri2_top_level_smy">
                <p class="yelfce36d">L<span>1</span></p>
                <span class="appraisal_allri2_top_level_line_smy"></span>
                <p class="green81c13f">L<span>2</span></p>
            </div>
            <span class="appraisal_allri2_crown_smy"></span>
        </div>
        <div class="appraisal_allri2_bot_smy">
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="yel1ffb022">35</dt>
                <dd>今日已学min</dd>
            </dl>
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="blu14cace6">40</dt>
                <dd>连续学习(天)</dd>
            </dl>
            <dl class="appraisal_allri_bot_smy_dl">
                <dt class="red1dd5c5c">20</dt>
                <dd>最近评分(分)</dd>
            </dl>
        </div>
    </div>
    <!--在线学习 已登录 已测评 购买后 end-->
    <!--在线学习 随堂笔记 start-->
    <div class="note-taking_smy common_mb">
        <div class="note-taking_top_smy">随堂笔记</div>
        <div class="note-taking_bot_smy">
            <span class="note-taking_bot_no_smy" style="display: none;">暂时无</span>
            <div class="note-taking_bot_smy_item">
                <p>THE MONKEY</p>
                <p><button type="button" class="btn btn-warning btn-rounded waves-effect waves-light textalign-ri">查看</button></p>
            </div>
            <div class="note-taking_bot_smy_item">
                <p>THE MONKEY</p>
                <p><button type="button" class="btn btn-warning btn-rounded waves-effect waves-light textalign-ri">查看</button></p>
            </div>
        </div>
    </div>
    <!--在线学习 随堂笔记 end-->
    <!--首页 轮播 start-->
    <div class="represent_smy common_mb">
        <div class="represent_top_smy">我为gogo-talk代言</div>
        <div class="represent_bot_smy">
            <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
                <div role="listbox" class="carousel-inner">
                    <div class="item active">
                        <img class="img-circle represent_img_smy" src="assets/images/users/avatar-1.jpg"
                             alt="First slide image">

                        <p class="represent_bot_p_smy">
                            “我出国录制节目时经常会接触到各个国家的人，现经常会接触到各个国家的人。
                        </p>
                    </div>
                    <div class="item">
                        <img class="img-circle represent_img_smy" src="assets/images/users/avatar-1.jpg"
                             alt="First slide image">

                        <p class="represent_bot_p_smy">
                            “我出国录制节目时经常会接触到各个国家的人，现经常会接触到各个国家的人。
                        </p>
                    </div>
                    <div class="item">
                        <img class="img-circle represent_img_smy" src="assets/images/users/avatar-1.jpg"
                             alt="First slide image">

                        <p class="represent_bot_p_smy">
                            “我出国录制节目时经常会接触到各个国家的人，现经常会接触到各个国家的人。
                        </p>
                    </div>
                </div>
                <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"><span
                        aria-hidden="true" class="fa fa-angle-left"></span></a>
                <a href="#carousel-example-captions" role="button" data-slide="next"
                   class="right carousel-control"><span aria-hidden="true" class="fa fa-angle-right"></span></a>
            </div>
            <!-- END carousel-->
        </div>
    </div>
    <!--首页 轮播 end-->
    <!--首页 名师推荐 start-->
    <div class="famous_smy common_mb">
        <div class="famous_top_smy">推荐名师
            <!-- <a href="###">马上预约TA/她</a>  -->
        </div>
        <div class="famous_bot_smy">
            <div class="media" ng-repeat="hotTh in hotTeachers">
                <div class="media-left">
                    <a href="javascript:;"> <img class="media-object" ng-src="hotTh.ImageUrl"> </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" ng-bind="hotTh.Name"></h4>
                    <dl>
                        <!-- <dt>宾夕法尼亚大学 毕业 博士学位</dt> -->
                        <dd class="star_smy">
                            <span>专业等级</span>

                            <showstar starnum="5"></showstar>        
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!--首页 名师推荐 end-->
</div>