<div class="register_font_top">
	<ul class="register_icon_box clearfix">
		<div class="register_line"></div>
		<li class="pull-left">
			<span class="ion-ios7-circle-outline"></span>
			<p>手机号注册</p>
		</li>
		<li class="pull-left">
			<span class="ion-ios7-circle-outline"></span>
			<p>微信号关注</p>
		</li>
		<li class="pull-left">
			<span class="ion-checkmark-circled"></span>
			<p>进入英语世界</p>
		</li>
	</ul>
   <div class="join_en_box">
   		<h2 class="font-yell">第一次学习免费测评一下</h2>
   		<p class="text-right">
   			无需担心，孩子不在身边也没关系，先去选个时间
   		</p>
   		<div class="re_join_btn_box">
   			<a href="javascript:;" class="reg_join_main" ng-click="goHome()">进入首页</a>
   		</div>
   </div>
</div>