<div class="register_font_top">
	<ul class="register_icon_box clearfix">
		<div class="register_line"></div>
		<li class="pull-left">
			<span class="ion-ios7-circle-outline"></span>
			<p>手机号注册</p>
		</li>
		<li class="pull-left">
			<span class="ion-checkmark-circled"></span>
			<p>微信号关注</p>
		</li>
	</ul>
   <div class="reg_wx_img_box">
   		<img src="images/home/wechat.jpg" alt="">
   		<button class="ladda-button btn btn-font-size16 btn-block font-write btn-pink" ng-click="goHome()" ng-disabled="wxnext" ng-bind="joinMain"></button>
   		<p>微信扫一扫 | 资讯尽在gogo-talk</p>
   </div>
</div>