
.monthlyReportbox{
	width: 978px;
	height: 638px;
	background: url("../images/report/report_bg-a7d1e9d.png") no-repeat 0 -1px;
	background-size: 100%;
	font-family: Arial,'微软雅黑';
	margin:0 auto;
	transition:all 0.5s linear;
}

.month-top{
	padding:4px 4px 4px 0;
	overflow: hidden;
}
.month-topLeft{
	padding:0 43px;
	height: 77px;
	float:left;
	line-height: 77px;
	color:#fff;
	font-size: 24px;
}
.month-topLogo{
	float:right;
	padding:0 17px;
}
.month-topLogo img{
	padding-top: 16px;
}
.month-bottom{
	padding:0 4px 4px 4px;
	height: 549px;
}
.month-student{
	float: left;
	padding:33px 0 0px 30px;
}
.month-studentTop{
	overflow: hidden;
}
.month-studentImg{
	float: left;
	margin-right: 43px;
}
.month-studentInter{
	float: left;
	color:#515151;
	font-size: 14px;
	margin-right: 43px;
}
.month-studentInter>h2{
	font-size: 26px;
	font-weight: normal;
	color: #2c2c2c;
	margin-top: 4px;
	line-height: 48px;
	width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}
.month-studentInter>p{
	margin-top: 28px;
	color: #6f6f6f;
	font-size: 18px;
}
.wancheng{
	margin-top: 26px;
	line-height: 21px;
}
.month-studentInter img{
	vertical-align: middle;
	margin-right: 4px;
}
.month-sudentXin{
	padding-top: 4px;
	float:left;
	font-size: 16px;
	color:#1f1f1f;
	line-height: 40px;
}
.month-sudentXin>div>span{
	margin-right: 10px;
}
.month-sudentXin div>img{
	margin-right: 12px;
}
.month-studentCon{
	margin-top: 22px;
	color:#080808;
	font-size:18px;
}
.month-stuConTop{
	line-height: 35px;
	margin-bottom: 5px;
}
.month-stuConTop img{
    vertical-align: middle;
    margin-right: 13px;
}
.month-studentCon p{
	width: 559px;
	height: 234px;
	line-height: 35px;
	overflow: hidden;
}
.month-stuFengcai{
	float:right;
	width: 345px;
	position: relative;
	height: 501px;
	padding-top: 73px;
}
.stuFengcaibox{
	width: 147px;
	height: 48px;
	line-height: 48px;
	color:#fff;
	font-size: 20px;
	padding-left: 47px;
	background: url("../images/report/studentFencai-f87c993.png") no-repeat;
	position: absolute;
	right:0;
	top:23px;
}

.stuFengcaiImg{
	width:98%;;
	height: 229px;
	position: relative;
	padding:21px 14px 20px 0px;
}
.stuFengcaiImg img{
	width: 100%;
	height: 187px;
}
.jiaodai{
	position: absolute;
	width: 65px;
	height: 67px;
}
.jiaodai1{
	background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
	left: -21px;
	top:0;
}
.jiaodai3{
	background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
	right: -3px;
	bottom:0px;
}
.jiaodai2{
	background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
	right: -3px;
	top:-2px;
}
.jiaodai4{
	background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
	left: -20px;
	bottom:0px;
}
.stuErweibox{
	width: 256px;
	height: 186px;
}
.stuErweiImg{
	float: left;
	width: 187px;
	height: 187px;
	box-sizing: border-box;
	border:3px solid #f3a6a3;
	background: #fdf5f3;
	padding:10px 10px;
	margin-right: 27px;
}
.stuErweiImg img{
	width: 162px;
	height: 162px;
}
.stuWord{
	float: left;
	font-size: 16px;
	width: 21px;
	writing-mode:tb-rl;
	margin-top: 18pxs;
}
#down_button{
	width: 134px;
	height:56px;
	background:#e74d47!important;
	line-height: 56px;
	color:#fff;
	font-size: 20px;
	border:#e74d47!important;
	padding:0!important;
	margin-top:10px;
}



@media screen and (max-width: 1024px){
	.monthlyReportbox{
		width: 867px;
		height: 525px;
		background: url("../images/report/report_bg-a7d1e9d.png") no-repeat 0 -1px;
		background-size: 100%;
		font-family: Arial,'微软雅黑';
		margin:0 auto;
		transition:all 0.5s linear;
	}

	.month-top{
		padding:0px 4px 0px 0;
		overflow: hidden;
	}
	.month-topLeft{
		padding:0 23px;
		height: 70px;
		float:left;
		line-height: 70px;
		color:#fff;
		font-size: 22px;
	}
	.month-topLogo{
		float:right;
		padding:0 17px;
	}
	.month-topLogo img{
		padding-top: 12px;
	}
	.month-bottom{
		padding:0 4px 4px 4px;
		height: 450px;
	}
	.month-student{
		float: left;
		padding:18px 0 0px 20px;
	}
	.month-studentTop{
		overflow: hidden;
	}
	.month-studentImg{
		float: left;
		margin-right: 23px;
	}
	.month-studentImg img{
		height: 145px;
	}
	.month-studentInter{
		float: left;
		color:#515151;
		font-size: 14px;
		margin-right: 23px;
	}
	.month-studentInter>h2{
		font-size: 24px;
		font-weight: normal;
		color: #2c2c2c;
		margin-top: 4px;
		line-height: 34px;
		width: 110px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    -webkit-text-overflow: ellipsis;
	    -moz-text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.month-studentInter>p{
		margin-top: 22px;
		color: #6f6f6f;
		font-size: 16px;
	}
	.wancheng{
		margin-top: 22px;
		line-height: 21px;
	}
	.month-studentInter img{
		vertical-align: middle;
		margin-right: 4px;
	}
	.month-sudentXin{
		padding-top: 4px;
		float:left;
		font-size: 14px;
		color:#1f1f1f;
		line-height: 34px;
	}
	.month-sudentXin>div>span{
		margin-right: 2px;
	}
	.month-sudentXin div>img{
		margin-right: 5px;
	}
	.month-studentCon{
		margin-top: 10px;
		color:#080808;
		font-size:16px;
	}
	.month-stuConTop{
		line-height: 35px;
		margin-bottom: 5px;
	}
	.month-stuConTop img{
	    vertical-align: middle;
	    margin-right: 13px;
	}
	.month-studentCon p{
		width: 456px;
		height: 206px;
		line-height: 26px;
		overflow: hidden;
	}
	.month-stuFengcai{
		float:right;
		width: 345px;
		position: relative;
		height: 501px;
		padding-top: 73px;
	}
	.stuFengcaibox{
		width: 140px;
		height: 42px;
		line-height: 42px;
		color:#fff;
		font-size: 20px;
		padding-left: 40px;
		background: url("../images/report/studentFencai-f87c993.png") no-repeat;
		background-size:100% 100%;
		position: absolute;
		right:0;
		top:18px;
	}

	.stuFengcaiImg{
		width:98%;;
		height: 215px;
		position: relative;
		padding:16px 14px 20px 0px;
	}
	.stuFengcaiImg img{
		width: 100%;
		height: 180px;
	}
	.jiaodai{
		position: absolute;
		width: 65px;
		height: 67px;
	}
	.jiaodai1{
		background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
		left: -21px;
		top:0;
	}
	.jiaodai3{
		background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
		right: -3px;
		bottom:0px;
	}
	.jiaodai2{
		background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
		right: -3px;
		top:-2px;
	}
	.jiaodai4{
		background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
		left: -20px;
		bottom:0px;
	}
	.stuErweibox{
		width: 256px;
		height: 150px;
	}
	.stuErweiImg{
		float: left;
		width: 130px;
		height: 130px;
		box-sizing: border-box;
		border:3px solid #f3a6a3;
		background: #fdf5f3;
		padding:5px 5px;
		margin-right: 27px;
	}
	.stuErweiImg img{
		width: 115px;
		height: 115px;
	}
	.stuWord{
		float: left;
		font-size: 14px;
		width: 21px;
		writing-mode:tb-rl;
		margin-top: 4px;
	}
	#down_button{
		width: 134px;
		height:56px;
		background:#e74d47!important;
		line-height: 56px;
		color:#fff;
		font-size: 20px;
		border:#e74d47!important;
		padding:0!important;
		margin-top:10px;
	}
}
@media screen and (max-width: 700px){
	.monthlyReportbox{
	width: 978px;
	height: 638px;
	background: url("../images/report/report_bg-a7d1e9d.png") no-repeat 0 -1px;
	background-size: 100%;
	font-family: Arial,'微软雅黑';
	margin:0 auto;
	transition:all 0.5s linear;
}

.month-top{
	padding:4px 4px 4px 0;
	overflow: hidden;
}
.month-topLeft{
	padding:0 43px;
	height: 77px;
	float:left;
	line-height: 77px;
	color:#fff;
	font-size: 24px;
}
.month-topLogo{
	float:right;
	padding:0 17px;
}
.month-topLogo img{
	padding-top: 16px;
}
.month-bottom{
	padding:0 4px 4px 4px;
	height: 549px;
}
.month-student{
	float: left;
	padding:33px 0 0px 30px;
}
.month-studentTop{
	overflow: hidden;
}
.month-studentImg{
	float: left;
	margin-right: 43px;
}
.month-studentInter{
	float: left;
	color:#515151;
	font-size: 14px;
	margin-right: 43px;
}
.month-studentInter>h2{
	font-size: 26px;
	font-weight: normal;
	color: #2c2c2c;
	margin-top: 4px;
	line-height: 48px;
	width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}
.month-studentInter>p{
	margin-top: 28px;
	color: #6f6f6f;
	font-size: 18px;
}
.wancheng{
	margin-top: 26px;
	line-height: 21px;
}
.month-studentInter img{
	vertical-align: middle;
	margin-right: 4px;
}
.month-sudentXin{
	padding-top: 4px;
	float:left;
	font-size: 16px;
	color:#1f1f1f;
	line-height: 40px;
}
.month-sudentXin>div>span{
	margin-right: 10px;
}
.month-sudentXin div>img{
	margin-right: 12px;
}
.month-studentCon{
	margin-top: 22px;
	color:#080808;
	font-size:18px;
}
.month-stuConTop{
	line-height: 35px;
	margin-bottom: 5px;
}
.month-stuConTop img{
    vertical-align: middle;
    margin-right: 13px;
}
.month-studentCon p{
	width: 559px;
	height: 234px;
	line-height: 35px;
	overflow: hidden;
}
.month-stuFengcai{
	float:right;
	width: 345px;
	position: relative;
	height: 501px;
	padding-top: 73px;
}
.stuFengcaibox{
	width: 147px;
	height: 48px;
	line-height: 48px;
	color:#fff;
	font-size: 20px;
	padding-left: 47px;
	background: url("../images/report/studentFencai-f87c993.png") no-repeat;
	position: absolute;
	right:0;
	top:23px;
}

.stuFengcaiImg{
	width:98%;;
	height: 229px;
	position: relative;
	padding:21px 14px 20px 0px;
}
.stuFengcaiImg img{
	width: 100%;
	height: 187px;
}
.jiaodai{
	position: absolute;
	width: 65px;
	height: 67px;
}
.jiaodai1{
	background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
	left: -21px;
	top:0;
}
.jiaodai3{
	background:url("../images/report/jiaodai1-dfd46f4.png") no-repeat;
	right: -3px;
	bottom:0px;
}
.jiaodai2{
	background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
	right: -3px;
	top:-2px;
}
.jiaodai4{
	background:url("../images/report/jiaodai2-ad239b9.png") no-repeat;
	left: -20px;
	bottom:0px;
}
.stuErweibox{
	width: 256px;
	height: 186px;
}
.stuErweiImg{
	float: left;
	width: 187px;
	height: 187px;
	box-sizing: border-box;
	border:3px solid #f3a6a3;
	background: #fdf5f3;
	padding:10px 10px;
	margin-right: 27px;
}
.stuErweiImg img{
	width: 162px;
	height: 162px;
}
.stuWord{
	float: left;
	font-size: 16px;
	width: 21px;
	writing-mode:tb-rl;
	margin-top: 18pxs;
}
#down_button{
	width: 134px;
	height:56px;
	background:#e74d47!important;
	line-height: 56px;
	color:#fff;
	font-size: 20px;
	border:#e74d47!important;
	padding:0!important;
	margin-top:10px;
}
}